[program:myprogram]
directory=/slackpro
command=/slackpro/venv/bin/gunicorn -k eventlet  --workers 1 --bind 127.0.0.1:8000 -m 007 wsgi:app
autostart=true
autorestart=true
stdout_logfile=/var/log/access.log
stderr_logfile=/var/log/service.log
