{% extends 'base.html' %}

{% block content %}
<form action='' method='post' novalidate style='padding-left:10%;padding-right:10%'>
    {{ form.hidden_tag() }}
    {{ form.group_name.label(style='font-size:2rem; color:green') }}<br>
    {{ form.group_name }}<br><br>
    {% for error in form.group_name.errors %}
    <span style='color:red'>[{{ error }}]</span><br>
    {% endfor %}<br>
    {{ form.group_description.label(style='font-size:2rem;color:green') }}<br>
    {{ form.group_description(style='width:40%') }}<br><br>
    {% for error in form.group_description.errors %}
    <span style='color:red'>[{{ error }}]</span><br>
    {% endfor %}<br>
    {{ form.group_members.label(style='font-size:2rem;color:green;') }}<br>
    {{ form.group_members }}<br><br>
    {% for error in form.group_members.errors %}
    <span style='color:red'>[{{ error }}]</span><br>
    {% endfor %}<br>
    {{ form.submit(class='btn green') }}
</form>
{% endblock %}