{% extends 'base.html' %}

{% block content  %}
<script>
    window.onload = function () {
        document.getElementById('changedesc').value = ''
        if (document.getElementById('members')) {
            document.getElementById('members').value = ''
        }
    };
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function polling(download_url) {
        let newpromise = await fetch(download_url, { method: 'GET' });
        let downloadDone = await newpromise.text();
        console.log(downloadDone);
        if (downloadDone != 'wait') {
            download(download_url, 'chat_details.pdf', 'application/pdf');
        }
        return 'fail'
    }
    async function download() {
        var url = 'http://' + window.location.host + '{{ url_for("main.download_content",group_id=groupid,task_id=0)}}';
        let promise = await fetch(url, {
            method: 'GET'
        });
        let responseValue = await promise.text();
        var download_url = 'http://' + window.location.host + '/download/' + responseValue;
        for (let i = 0; i < 20; i++) {
            await sleep(3000);
            var result = await polling(download_url);
            console.log(result)
            if (result == 'success') {
                break;
            }
        }
    }
</script>
<div>
    <h4 style='color:green'>Group Name<br>
        <h5> {{ group }} </h5>
    </h4>
    <h4 style='color:green'>Group Description<br>
        <h5> {{ description }} </h5>
    </h4>
    <h4 style='color:green'>Change Group Description</h4>
    <form action='' method='post' novalidate id='addmembersform'>
        {{ form.hidden_tag() }}
        <h5>{{ changedesc.description(id='changedesc') }}</h5>
        {{ changedesc.submit(class='btn green') }}
    </form>

    <h4 style='color:green'>Group Admin<br>
        <h5> {{ admin }} </h5>
    </h4>
    <h4 style='color:green'>Participants</h4>
    {% for member in members %}
    <img src="https://avatars.dicebear.com/v2/gridy/{{ member[0] }}.svg" class='avatar-image'>
    <h5>{{ member[0] }}</h5>
    <h6>{{ member[1].email }}</h6>
    {% if is_admin %}
    {% if currentid != member[1].id %}
    <a href='{{ url_for("dashboard.removemember",groupid=groupid,memberid=member[1].id) }}'><button
            class=' btn green'>Remove member</button></a><br>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if is_admin %}
    <form action='' method='post' novalidate id='addmembersform'>
        {{ form.hidden_tag() }}
        <h4 style='color:green'>Members to add separated by commas</h4><br>
        {{ form.members }}<br>
        {{ form.submit(class='btn green') }}
    </form>
    <a href='{{ url_for("dashboard.deletegroup",groupid=groupid) }}'><button class=' btn green'>Delete
            Group</button></a>
    {% else %}
    <a href='{{ url_for("dashboard.leavegroup",groupid=groupid) }}'><button class=' btn green'>Leave
            group</button></a>
    {% endif %}
    {% if is_admin %}
    <br>
    <br>
    <a>
        <button class='btn green' onclick="download()">Download Chat</button>
    </a>
    {% endif %}
    <br>
</div> {% endblock %}