{% extends 'base.html' %}

{% block content  %}
<div style='padding-left:10%;padding-right:10%'>
    <h4 style='color:green'>Group Name<br>
        <h5> {{ group }} </h5>
    </h4>
    <h4 style='color:green'>Group Description<br>
        <h5> {{ description }} </h5>
    </h4>
    <h4 style='color:green'>Group Admin<br>
        <h5> {{ admin }} </h5>
    </h4>
    <h4 style='color:green'>Participants</h4>
    {% for member in members %}
    <h5>{{ member[0] }}</h5>
    <h6>{{ member[1].email }}</h6>
    {% endfor %}
    {% if is_admin %}
    <h4>{{ form.members.label(style='color:green;font-size:2.2rem;') }}</h4><br>
    {{ form.members }}<br>
    {{ form.submit(class='btn green') }}

    {% else %}
    <a href='leavegroup'><button class='btn green'>Leave group</button></a>
    {% endif %}
</div>
{% endblock %}