<html>

<head>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js'></script>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    {% if title %}
    <title>{{ title }} - SlackPro</title>
    {% else %}
    <title>SlackPro</title>
    {% endif %}
</head>
<!-- //pdb cmd debugging -->

<body style='padding-left:10%;padding-right:10%'>




    {% block navbar %}

    <nav class='green' style='display:fixed;'>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" style='color:cornsilk'>&nbsp;&nbsp;SlackPro</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if not(current_user.is_anonymous) %}

                {% if g.search_form %}
                <li style='margin:0px'>
                    <form method='get' action='{{ url_for("main.search") }}'>
                        <div class="input-field">
                            {{ g.search_form.q(size=20, placeholder=g.search_form.q.label.text,id='search',type='search') }}
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
                {% endif %}

                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/creategroup">Create Group</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                {% if not(current_user.is_anonymous) %}

                {% if g.search_form %}
                <li>
                    <form method='get' action='{{ url_for("main.search") }}'>
                        {{ g.search_form.q(size=20, placeholder=g.search_form.q.label.text) }}
                    </form>
                </li>
                {% endif %}

                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/creategroup">Create Group</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}

    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <center><span class='top-message'>{{ message }}</span></center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
{% block javascript %}
<script>
    $(".button-collapse").sideNav();
</script>
{% endblock %}

</html>